<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="fec5da29-d7b2-4ac3-805e-40f6003ae041"
            Publisher="CN=Tomas Jansson"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>ChattyApp</DisplayName>
    <PublisherDisplayName>Tomas Jansson</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="ChattyApp.App">
        <VisualElements
            DisplayName="ChattyApp"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="ChattyApp"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>